body {
	background-color: rgb(196, 23, 23);
	color: rgb(17, 16, 15);
}

header .navbar {
	padding: 0.5em;
	box-shadow: 1px 1px 13px 1px rgb(209, 11, 11);
}

.card-feel {
    margin-top: 30px;
	padding: 0.5em;
	box-shadow: 1px 1px 7px 1px rgb(252, 13, 13);
}
